body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;background-color: #fff;
    padding: 20px 0;
}
.header-row{
    display: flex;
    align-items: center;
    gap: 36px;
}
.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 24px;
}
.menu-link{
font-size: 15px;
line-height: 160%;
letter-spacing: 0.01em;
color: #33383f;
text-decoration: none;
}
.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    
    padding: 6px 20px;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn.blue {
     color: #0070a0;
}
.btn.blue svg path{
    stroke: #006B99
}
.btn.blue:hover {
    background-color: #0070a0;
    color: #fff;
}
.btn.blue:hover svg path{
    stroke: #fff
}
.btn.white {
    background: #0070a0;
    color: #fff;
}
.header-btns{
    display: flex;
    gap: 12px;
    margin-left: auto;
}
.btn.white:hover{
    background: #fff;
    color: #0070a0;
} 
.hero{
    padding: 145px 0 80px;
}
.hero-row{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}
.hero-left{
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.hero-title{
    margin: 0;
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
}
.hero-desc{
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    max-width: 67%;
}
.hero-btns{
    display: flex;
    gap: 12px;
}
.advantages-item{
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}
.advantages-item-title{
 font-family: "Fraunces", sans-serif;
font-size: 25px;
line-height: 125%;
letter-spacing: 0.01em;
color: #1f1f1f;
}
.advantages-item-desc{
    margin: 0;
    font-size: 15px;
line-height: 160%;
letter-spacing: 0.01em;
color: #1f1f1f;
}
.advantages-row{
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}
.advantages-item-container{
    width: 33%;
    padding: 16px;
    box-sizing: border-box;
}